@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    overflow-x: hidden;
}
/*.container0{
    background-color: black;
    align-items: center;
    height: 8vh;
    padding: 20px;

}*/
nav{
    display: flex;
    justify-content: space-around;
    color: blanchedalmond;
}
.logo{
    align-items: center;
    font-size: 50px;
    font-family: "Cherry Swash" ;
    margin-top: 10px;
}
.navmenu{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    list-style: none;
    font-size: 19px;
    letter-spacing: 2px;
    margin-top: 30px;
    
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.5s ease;
}
.burger{
    display: none;
    cursor: pointer;
}
.navmenu li a{
    text-decoration: none;
    color: white;
}
.container1{
    background: url("./images/2.jpg") no-repeat center;
    width: 100%;
    height: 100vh;

}
.homecontent{
    color: white;
    position: absolute;
    top: 30%;
    left: 60%;
}
.content{
    position: relative;
    bottom: 520px;
    right: 80px;
}
.homecontent img{
    position: relative;
    right: 850px;
    width: 75%;
    bottom: 100px   
}
.name{
    font-size: 40px;
    font-family: "Audiowide";
}
.field{
    font-size: 60px;
    font-family: "Audiowide";
    line-height: 70px;
}
.love{
    font-size: 55px;
    font-family: "Audiowide";
    line-height: 90px;
}
.container2{
    background-color: white;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row-reverse;
    color: #0c1019;
}
.container2 img{
    width: 500px;
    height:  400px;
    margin: 135px 50px ;
    display: flex;
    flex-direction: row-reverse;
}
.about{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-family: "Rubik";
    text-transform: uppercase;
    margin-top: 160px;
    margin-left: 50px;
    margin-right: 50px;
}
.aboutcontent{
    font-size: 20px;
    margin-top: 30px;
    text-align: justify;
}
.container3{
    background-color: #0c1019;
    display: flex;
    color: white;
    flex-direction: row-reverse;
}
.skills{
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
    font-family: "Rubik";
}
.skillsets{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: justify;
}
.skilllset{
    padding: 20px;
    margin-right: 20px;
    width: 400px;    
}
.slillsettitle{
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin: 10px;
}
.slillsetcontent{
    margin: 10px;
    font-size: 20px;
}
.svg{
    margin: 10px;   
    cursor: pointer;
}
.mainskill{
    font-size: 50px;
}
.skillcontent{
    font-size: 20px;
    text-align: justify;
}
.coma{
    color: #f6bc00;
}
.container4 {
    height: 300px;
    width: 600px;
    left: calc(50% - 300px);
    display: flex;
    margin: 50px 50px 20px 50px;
  }
  .project{
      display: flex;
      flex-direction: row-reverse;
  }
  .projecttitle{
      margin: 50px 20px 20px;
  }
  .projecttitle h1 {
      font-family: "Rubik";
      font-size: 50px;
      text-transform: uppercase;
  }
  .projecttitle span{
      color: #f6bc00;
  }
  .projecttitle p{
      font-family: "Rubik";
      font-size: 20px;
      text-align: justify;
  }
  .card {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 100%;
    transition: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  .svgg {
    fill: #17141d;
    stroke-width: 2px;
  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .homecontent{
        color: white;
        position: absolute;
        top: 30%;
        left: 15%;
    }
    .content{
        position: relative;
        bottom: 50px;
        right: 20px;
    }
    .homecontent img{
        
        width: 60%;
        position: relative;
        left: 45px;
        bottom: 100px;
    }
    .navmenu{
        position: absolute;
        top: 8vh;
        background: url("./images/2.jpg") no-repeat center;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        clip-path: circle(50px);
        clip-path: circle(50px at 80% -10%);
        transition: all 1s ease-out;
    }
    .navmenu li{
        opacity: 0;
    }
    .navmenu li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .navmenu li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .navmenu li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .navmenu li:nth-child(4){
        transition: all 0.5s ease 0.8s;
    }
    .navmenu li:nth-child(5){
        transition: all 0.5s ease 0.9s;
    }
    li.fade{
        opacity: 1;
    }
    .navmenu.open{
        clip-path: circle(980px);
        clip-path: circle(980px at 80% -10%);
    }
    .burger{
        display: inline-block;
        margin-top: 30px;
    }
    .name{
        font-size: 25px;
        font-family: "Audiowide";
    }
    .field{
        font-size: 45px;
        font-family: "Audiowide";
        line-height: 50px;
    }
    .love{
        font-size: 40px;
        font-family: "Audiowide";
        line-height: 70px;
    }
    /*.burger{
        display: inline-block;
    }*/
    .container2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container2 img{
        display: inline-block;
        width: 300px;
        height: 250px;
        margin-top: 60px;
        margin-bottom: 10px;
        
    }
    .about{
        display: flex;
        flex-direction: column;
        font-size: 30px;
        font-family: "Rubik";
        text-transform: uppercase;
        margin-top: 20px;
        align-items: center;

    }
    .aboutme{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .me{
        display: flex;
        
        align-items:center ;

    }
    .aboutcontent{
        font-size: 17px;
        text-align: justify;
        text-transform: none;
    }
    .container3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skillsets{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        text-align: justify;
    }
    .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainskill{
        font-size: 30px;
    }
    .skillcontent{
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-top: 30px;
        font-size: 17px;
        font-family: "Rubik";
        text-align: justify;
    }
    .skilllset{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .slillsettitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 19px;

    }
    .slillsetcontent{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 17px;
        margin: 50px;
        margin-bottom: 0px;
    }
    .coma{
        color: #f6bc00;
    }
    .project{
        display: flex;
        flex-direction: column;
    }
    .container4 {
        height: 300px;
        width: 600px;
        left: calc(50% - 300px);
        display: flex;
        margin: 50px 50px 20px 50px;
    }
    .card {
        display: flex;
        height: 280px;
        width: 120px;
        background-color: #17141d;
        border-radius: 10px;
        box-shadow: -1rem 0 3rem #000;
      /*   margin-left: -50px; */
        transition: 0.4s ease-out;
        position: relative;
        left: 0px;
    }
    .bar {
        position: absolute;
        top: 100px;
        left: 20px;
        height: 5px;
        width: 95px;
    }
    .projecttitle{
        margin: 50px;
    }
    .projecttitle h1 {
        font-family: "Rubik";
        font-size: 30px;
        text-transform: uppercase;
    }
    .projecttitle span{
        color: #f6bc00;
    }
    .projecttitle p{
        font-family: "Rubik";
        font-size: 15px;
        text-align: justify;
    }
      

}
@media screen and (max-width:390px){
    body{
        overflow-x: hidden;
    }
    .homecontent{
        color: white;
        position: absolute;
        top: 30%;
        left: 15%;
    }
    .content{
        position: relative;
        bottom: 50px;
        right: 20px;
    }
    .homecontent img{
        
        width: 60%;
        position: relative;
        left: 45px;
        bottom: 100px;
    }
    .navmenu{
        position: absolute;
        top: 8vh;
        background: url("./images/2.jpg") no-repeat center;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        clip-path: circle(50px);
        clip-path: circle(50px at 80% -10%);
        transition: all 1s ease-out;
    }
    .navmenu li{
        opacity: 0;
    }
    .navmenu li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .navmenu li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .navmenu li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .navmenu li:nth-child(4){
        transition: all 0.5s ease 0.8s;
    }
    .navmenu li:nth-child(5){
        transition: all 0.5s ease 0.9s;
    }
    li.fade{
        opacity: 1;
    }
    .navmenu.open{
        clip-path: circle(980px);
        clip-path: circle(980px at 80% -10%);
    }
    .burger{
        display: inline-block;
        margin-top: 30px;
    }
    .name{
        font-size: 25px;
        font-family: "Audiowide";
    }
    .field{
        font-size: 45px;
        font-family: "Audiowide";
        line-height: 50px;
    }
    .love{
        font-size: 40px;
        font-family: "Audiowide";
        line-height: 40px;
    }
    /*.burger{
        display: inline-block;
    }*/
    .container2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container2 img{
        display: inline-block;
        width: 300px;
        height: 250px;
        margin-top: 60px;
        margin-bottom: 10px;
        
    }
    .about{
        display: flex;
        flex-direction: column;
        font-size: 30px;
        font-family: "Rubik";
        text-transform: uppercase;
        margin-top: 20px;
        align-items: center;

    }
    .me{
        display: flex;
        flex-direction: column;
        align-items:center ;

    }
    .aboutcontent{
        font-size: 15px;
        text-align: justify;
        margin-bottom: 40px;
    }
}

.nav-active{
    transform: translateX(0%);
    
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px) ;
}
.toggle .line2{
    opacity: 0 !important;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px) ;
}