@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container0{
    background-color: black;
    align-items: center;
    height: 8vh;
    padding: 20px;

}
nav{
    display: flex;
    justify-content: space-around;
    color: blanchedalmond;
}
.logo{
    align-items: center;
    font-size: 30px;
    font-family: "Cherry Swash" ;
    position: relative;
    bottom: 10px;
}
.navmenu{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    list-style: none;
    font-size: 19px;
    letter-spacing: 2px;
    
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}
.burger{
    display: none;
    cursor: pointer;
}
.navmenu li a{
    text-decoration: none;
    color: white;
}
.container1{
    background: url("./images/1.jpg") no-repeat center;
    width: 100%;
    height: 100vh;

}
.homecontent{
    color: white;
    position: absolute;
    top: 30%;
    left: 60%;
}
.content{
    position: relative;
    bottom: 520px;
    right: 80px;
}
.homecontent img{
    position: relative;
    right: 850px;
    width: 75%;
    bottom: 100px   
}
.name{
    font-size: 40px;
    font-family: "Audiowide";
}
.field{
    font-size: 60px;
    font-family: "Audiowide";
    line-height: 70px;
}
.love{
    font-size: 55px;
    font-family: "Audiowide";
    line-height: 90px;
}
.container2{
    background: url("./images/2.jpg")no-repeat center;
    width: 100%;
    height: 100vh;
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .homecontent{
        color: white;
        position: absolute;
        top: 30%;
        left: 15%;
    }
    .content{
        position: relative;
        bottom: 50px;
        right: 20px;
    }
    .homecontent img{
        
        width: 60%;
        position: relative;
        left: 45px;
        bottom: 100px;
    }
    .navmenu{
        position: absolute;
        right:0px;
        height: 92vh;
        top: 8vh;
        background:black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.8s ease;
        z-index: 1;
        
    }
    .navmenu li{
        opacity: 1;
    }
    .name{
        font-size: 25px;
        font-family: "Audiowide";
    }
    .field{
        font-size: 45px;
        font-family: "Audiowide";
        line-height: 50px;
    }
    .love{
        font-size: 40px;
        font-family: "Audiowide";
        line-height: 70px;
    }
    .burger{
        display: inline-block;
    }
}

.nav-active{
    transform: translateX(0%);
    
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}